@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    padding: 0;
    margin: 0 auto;
    font-family: 'Secular One', sans-serif;
}

.top{
    width: 820px;
    height: 50px;
    padding: 0;
    display:flex;
    align-items: center;
    background-color: gray;
}

.main{

        width: 850px;
        vertical-align: middle;
}
.box1{

    display: inline-flex;
    width: auto;
    border: 2px solid black;
    margin: 20px;
    padding-left: 15px;
}
.box2{
    width: 250px;
    display: inline-flex;
    padding: 10px;
    border: 2px solid black;
}
.col{
    width: 150px;
    margin: 20px;
    padding: 10px;
}
.col-2{
    width: 300px;
    align-self: center;
    font-size: 18px;
}
.col-3{
    width: min-content;
    align-self: center;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}
.likes{
    width: 80px;
    height: 30px;
    border-radius: 10%;
    background-color: #FFDA65;
    
}

button.login {
    width: 73px;
    padding: 5px;
    color: white;
    background-color:#2C77E4 ;
    box-shadow: 3px 3px 3px 3px #323232;
}
.i{
    width: 150px;
    padding: 5px;
    margin: 5px;
    background-color: #94C37C;
    box-shadow: 3px 3px 3px 3px #323232;
    text-align: center;
}